#footer
   if theme.busuanzi == true
     if theme.total_visit_busuanzi == true
       div
         | Total
         span#busuanzi_container_site_pv
           span= ' '
           span#busuanzi_value_site_pv
         span(rel='nofollow')= ' ' + __(' hits, ')
         span#busuanzi_container_site_uv
           span#busuanzi_value_site_uv
         span(rel='nofollow')= ' ' + __(' visitors.')
   = 'Copyright © ' + date(Date.now(), 'YYYY') + ' ' + config.title + '.'
